.title {
  width: 100%;
  text-align: right;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  background-color: rgba(73, 73, 73, 0.363);
  margin-bottom: 50px;
  padding-left: 3%;
  padding-right: 3%;
}